.article{
    transition: transform .25s ease-in-out,
                box-shadow .25s ease-in-out;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: var(--background-color-element);
    border-radius: 10px;
    overflow: hidden;

    cursor: pointer;
}

.img{
    width: 100%;
    aspect-ratio: 3/2;
}

.article:hover{
    transform:translateY(-2px) scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 15px;
}

.article:active{
    transform:translateY(2px) scale(.95);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px;
}

.margin-box{
    margin-left: var(--space-5);
    margin-right: var(--space-5);
}

.country-name{
    margin-top: var(--space-5);
    margin-bottom: var(--space-5);

    height: 80px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.country-stat:not(:last-child){
    margin: var(--space-155) 0;
}

.country-stat:last-child{
    padding-bottom: var(--space-8);
}