@use '/node_modules/sass-mq/mq' as mq;

@include mq.mq($from: mobile,$until: desktop){
    .section{
        margin: 0 var(--space-5);
    }
    
    .country-heading{
        font-size: 2.4rem;
        margin: var(--space-4) 0;
    }

    .border-countries{
        margin-top: var(--space-6);
    }
}

@include mq.mq($from: tablet){
    .columns{
        display: flex;
        column-gap: var(--space-20);
        margin-bottom: var(--space-10);
    }
}

@include mq.mq($from: desktop){
    .section{
        flex: 1 1 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: var(--space-20);

        margin: auto var(--space-24);
    }

    .image-container{
        flex: 0 0 40%;
    }

    .img{
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }

    .article{
        display: flex;
        flex-direction: column;
        justify-content: center;

        padding: var(--space-5) 0;
    }

    .country-heading{
        font-size: 2.8rem;
        margin-bottom: var(--space-10);
    }

    
}

.border-countries{
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    row-gap: var(--space-2);
    column-gap: var(--space-3);
}