.card-holder{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: var(--space-14);
    row-gap: var(--space-8);

    margin-top: var(--space-8);
    margin-left: var(--space-12);
    margin-right: var(--space-12);
}

.filter-rack{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: var(--space-12) var(--space-12);
}