@use '/node_modules/sass-mq/mq' as mq;

body{
    color: var(--text-color);
}

.h1{
    font-size: 1.875rem;
    @include mq.mq($from: mobile, $until: tablet) {
        font-size: 1.125rem;
    }

    line-height: 2.25rem;
    font-weight: 800;
}

h2{
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 800;
}

.body-text{
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 300;
    b{
        font-weight: 600;
    }
}